%h1 Audilogue
%img{:alt => "", :src => "#{gulp_asset_path('images/gulp.png')}"}/
%p
  %a{:href => "https://github.com/greypants/gulp-rails-pipeline"} Ditch the Rails Asset Pipeline and roll your own with Gulp.
%p
  %a.icon.-facebook{:href => "https://www.facebook.com/vigetlabs"}
  %a.icon.-twitter{:href => "https://twitter.com/viget"}
  \&lt;-- generated icon font
%p
  Made with ♥ at
  %a{:href => "http://viget.com"} Viget
