- flash.each do |key, message|
  %div{ class: "flash-#{key}" }= message

- content_for(:page_title) do
  #viz
    %h1 Sounds
    %canvas{id: "analyser"}
  %form
    %input#sound_title{value: "New Recording", type: "text"}
    - @sound.errors.full_messages.each do |message|
      = message
  .record-button
    %button#record-pause-audio{type: "button"}Record
  .stop-record-button
    %button#stop-recording-audio{disabled: "", type: "button"}Done


= paginate @sounds

%ul.sounds-pagination
  = render @sounds
