- content_for(:page_title) do
  %h1 Sounds

%div.profile-container
  -# =gravatar_for @user
  %h2 #{current_user.first_name}

  %button#record-pause-audio Record
  - #{onclick: "toggleRecording(this);"}
  %button{id: "stop-recording-audio", disabled: ""}Done
  %label{for: "sound_title"}Title
  %input#sound_title{type: "text"}



  #viz
    %canvas{id: "analyser", width: "400", height: "300"}

= paginate @sounds

%ul.sounds-pagination
  = render @sounds
