body {
  background-color: #FDFDFD;
  margin: 0;
  padding: 0 1em;
  input:-webkit-autofill {
    background-color: $light-gray;
    -webkit-box-shadow: 0 0 0px 1000px $light-gray inset;
    -webkit-text-fill-color: blue;
    -webkit-tap-highlight-color: blue;
  }
  #container {
    @include outer-container;
    nav, header, section#content, footer {
      @include span-columns(12);
    }
    nav {
      background-color: $white;
      height: 75px;
      ol {
        height: 100%;
        li {
          // display: inline-block;
          // position: relative;
          font-size: 24px;
          // height: 100px;
          line-height: 38.5px;
          text-align: center;
          float: right;
          &:first-child {
            font-size: 24px;
            float: left;
          }
          a {
            color: $primary-color;
            display: block;
            padding: 1em 1em;
            &:hover {
              background-color: $black;
              color: #FFF;
            }
          }
        }
      }
    }
    header {
      position: relative;
      background-color: $primary-color;
      text-align: center;
      padding: 1em;
      * {
        color: $light-grey;
        // margin: 0;
      }
      h1 {
        color: #FFF;
        font-size: 4em;
        position: relative;
        float: right;
        padding-right: 1em;
      }
      #viz {
        position: relative;
        height: 100px;
        width: 100%;
        margin-bottom: 1em;
        h1 {
          color: $white;
          font-size: 4em;
          position: absolute;
          right: 1em;
          z-index: 1;
        }
        canvas {
          width: inherit;
          height: inherit;
        }
      }
      form {
        #sound_title {
          background-color: transparent;
          margin: 15px;
          width: 50%;
          font-size: x-large;
        }
        input[type="text"] {
          padding: 10px;
          border: 0;
          transition: box-shadow 0.3s, border 0.3s;
        }
        input[type="text"]:focus,
        input[type="text"].focus {
          border: none;
          box-shadow: 0 0 5px 1px #969696;
        }
        span {
          color: $white;
        }
      }
    }
    section#content {
      background-color: #FDFDFD;
      @include clearfix();
      article {
        margin: 2em;
        .trash-link {
          float: right;
        }
        audio {
          width: 90%;
          vertical-align: middle;
          position: relative;
          left: 0px;
        }
        li {
          border-top: 1px solid #999;
          padding: 1em 0em 1em 0em;
          strong {
            padding-left: 1.25em;
          }
          p {
            padding-left: 1.25em;
          }
        }
        li:first-child {
          border-top: none;
        }
      }
    }
    footer {
      background-color: $white;
      text-align: center;
      padding: 1em;
    }
  }
}
