.profile-container {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: -75px 0 0 0;

  h2 {
    font-size: 2.9em;
    font-weight: 700;
    color: $blue;
    margin-bottom: 0;
  }

  p {
   color: $light-blue;
   font-size: 1.2em;
  }
}
